{
    "printWidth": 100,
    "trailingComma": "all",
    "proseWrap": "always",
    "overrides": [
      {
        "files": "*.{js,ts,css}",
        "options": {
          "proseWrap": "preserve"
        }
      }
    ]
}